* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border:2px solid rebeccapurple;
  background-color: rgb(177, 177, 255);
}

.col.header {
  padding: 0;
  line-height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(203, 171, 255);
  font-weight: bold;
  font-size: larger;
}

.who {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: bisque; 
  padding-bottom: 15px;
  margin-inline: auto;
}

button:hover {
  cursor: pointer;
}

.chat-box-body {
  height: 400px;
  background-color: rgb(223, 223, 255);
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.chat-box-body::-webkit-scrollbar {
  display: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 10px rgb(177, 177, 255);
  background-color:  rgb(255, 255, 255);
  color: rgb(54, 0, 100);
  font-size: large;
  resize: none
}

.time {
  margin: -4% 10%;
  font-size:smaller;
  color: rebeccapurple;
}

.chat.right{
  text-align: left;
}
.chat.left{
  text-align: left;
}

.user {
  margin: 5% 10% -4% 10%;
  font-size: 15px;
  font-weight: 1000;
  color: rebeccapurple;
}


.box3 {
width: 35%;
margin: 5% auto;
border-radius: 15px;
background: #00bfb6;
color: #fff;
padding: 3%;
text-align: center;
font-weight: 900;
font-family: arial;
border: none;
border-bottom: 3px solid rgb(177, 177, 255);
border-radius: 10px;
position: relative;
white-space:pre-line;
word-break:break-all;
}

/* speech bubble 13 */
.sb13 {
  margin-left: 50%;
}

.sb14 {
  margin-right: 50%;
  background: #ffffff;
  color: #1b1236;
}

.sb13:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid #00bfb6;
border-right: 15px solid transparent;
border-top: 15px solid #00bfb6;
border-bottom: 15px solid transparent;
right: -16px;
top: 0px;
}


/* speech bubble 14 */
.sb14:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid transparent;
border-right: 15px solid #ffffff;
border-top: 15px solid #ffffff;
border-bottom: 15px solid transparent;
left: -16px;
top: 0px;
}

.row>* {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
  padding-bottom: calc(var(--bs-gutter-x) * 1);
}

@media (min-width: 576px)
 {.container, .container-sm {
  max-width: 100%;
 }} 

 .sendBtn {
  border: none;
  border-bottom: 3px solid rgb(127, 127, 241);
  border-radius: 10px;
  background-color: rgb(246, 240, 255);
  color: rgb(126, 67, 179);
  width : 70px;
  height: 45px;
  font-weight: 800;
  margin-left: 70%;
  margin-top: 5%;
}

.notice {
  /* margin-left: 30%; */
  /* background-color: rgb(177, 177, 255);
  width: 40%; */
  padding: 10px;
  border-radius: 20px;
}

.my-dm {
  background-color: deepskyblue;
}

.dm {
   background-color: rgb(223, 247, 255);
}

.my-dm:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid deepskyblue;
border-right: 15px solid transparent;
border-top: 15px solid deepskyblue;
border-bottom: 15px solid transparent;
right: -16px;
top: 0px;
}

.dm:before{
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid transparent;
border-right: 15px solid rgb(223, 247, 255);
border-top: 15px solid rgb(223, 247, 255);
border-bottom: 15px solid transparent;
left: -16px;
top: 0px;
}
